body {
    font-family: arial;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li {
    display: inline-block;
}
nav span#left {
    display: inline-block;
    margin: 5px;
}
nav span#right {
    display: inline-block;
    margin: 5px;
}
nav span button{
    background-color: #4285f4;
    border: 1px solid #4285f4;
    outline: none;
    color: #fff;
}
main {
    margin-top: 150px;
    text-align: center;
}
main img{
    display: inline-block;
}
main div{
    display: inline-block;
    margin: 5px;
}